{% extends "base.html" %}
{% block content %}
<h1>Briiffi</h1>
<h2>Tietokantasovellus</h2>
<section>
    Tämä on mahtava kurssi jne. jne. (mutta oikeesti hyvä ;) )
    Tektsiä plaplapla plaplapla plaplapla plaplapla plaplapla
    Tänne pieni yhteenveto    
</section>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td><button class="btn btn-primary">Oppitunti 1</button></td>
            <td><button class="btn btn-danger">Tehtäväsarja 1</button></td>
            <td></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary">Oppitunti 2a</button></td>
            <td><button class="btn btn-primary">Oppitunti 2b</button></td>
            <td><button class="btn btn-danger">Tehtäväsarja 2</button></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default">Takaisin</button>
{% endblock %}