{% extends "base.html" %}
{% block content %}
<h1>Briiffi</h1>
<h2>Kurssit (Opiskelija näkymä)</h2>
<table class="table table-bordered table-striped">
 <!--   <thead>
        <tr>
            <th>Nimi</th>
            <th>Taulukko</th>
        </tr>
    </thead>-->
    <tbody>
        <tr>
            <td>Ohjelmoinnin jatkokurssi</td>
            <td><button class="btn btn-primary">Avaa</button></td>
            <td><button class="btn btn-success">Ilmoittaudu</button></td>
        </tr>
        <tr>
            <td>Tietokantasovellus</td>
            <td><button class="btn btn-primary">Avaa</button></td>
            <td>Olet ilmoittautunut kurssille</td>
        </tr>
        <tr>
            <td>Tietokantojen perusteet</td>
            <td><button class="btn btn-primary">Avaa</button></td>
            <td><button class="btn btn-success">Ilmoittaudu</button></td>
        </tr>
    </tbody>
</table>
{% endblock %}