{% extends "base.html" %}
{% block content %}
<h1>Briiffi</h1>
{% if isUusi %}
<h2>Lisää tehtävä sarjalle {{sarja.otsikko}} kurssille {{kurssi.nimi}}</h2>
{% else %}
<h2>Muokkaa tehtävää {{tehtava.tehtavanumero}}</h2>
{% endif %}
<form method="post" action="{{base_path}}/tallenna_tehtava">
    <div class="form-group">
        <label>Tehtävänumero</label>
        <input type="text" name="tehtavanumero" class="form-control" value="{{tehtava.tehtavanumero}}">
    </div>

    <div class="form-group">
        <label>Tehtävänanto</label>
        <textarea name="tehtavananto" class="form-control">{{tehtava.tehtavananto}}</textarea>
    </div>

    <input type="hidden" name="sarja_id" value="{{sarja.id}}">
    <input type="hidden" name="id" value="{{tehtava.id}}">

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% if isUusi %}
            Lisää
            {% else %}
            Tallenna
            {% endif %}
        </button>
    </div>
</form>

<a class="btn btn-default" href="{{base_path}}/oppitunti/{{sarja.id}}">Takaisin</a>
{% endblock %}